@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  .movie-area .movie-list .movie-wrap {
    width: 25%;
    padding: 5px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding: 120px 0 120px 0;
  }

  nav>.container>.logo img {
    width: 35px;
  }

  .search-area form {
    padding-top: 20px;
  }

  .movie-area .movie-list .movie-wrap {
    width: 50%;
    padding: 3px;
  }

  .search-area input {
    width: 80%;
    font-size: 1.3rem;
  }

  .search-area input:focus {
    width: 70%;
  }

  .movie-infowrap {
    display: block;
    padding-bottom: 0px;
  }

  .movie-infowrap .img {
    width: 100%;
  }

  .movie-infowrap .txt {
    width: 100%;
    padding: 20px 0 0 0px;
  }

  .movie-infowrap .txt p {
    width: 100%;
  }

  .movie-infowrap .txt h4 {
    margin-bottom: 10px;
  }

  .movie-infowrap .close-btn {
    position: absolute;
    top: -45px;
    right: 0;
    font-size: 24px;
}
}

@media screen and (max-width: 550px) {

  .movie-area .movie-list .movie-wrap {
    width: 100%;
    padding: 5px;
  }
}
